<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" \
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>Create topic</title>
</head>
<body>
<div class="container">
    <h1>Создание топика</h1>
    <form action="#topic-show.php" method="post">
        <div class="row">
            <div class="col">
                <label for="authorTopic">Автор</label>
            </div>
            <div class="col">
                <input class="form-control" type="text" name="authorTopic" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="topicTheme">Тема</label>
            </div>
            <div class="col">
                <input class="form-control" type="text" name="topicTheme" required>
            </div>
        </div>
        <div class="#">
            <label for="firstTopicMessage">Первое сообщение топика</label>
            <textarea class="form-control" type="textarea" name="firstTopicMessage" required></textarea>
        </div>
        <div class="#">
            <button class="btn btn-primary">Создать новый топик</button>
        </div>
    </form>
</div>
</body>
</html>